
:root {

    /* Grays
    ----------------------------------*/

    --kivakit-off-white:       #dddddd;
    --kivakit-light-gray:      #aaaaaa;
    --kivakit-gray:            #808080;
    --kivakit-light-charcoal:  #6a6a6a;
    --kivakit-charcoal:        #5e5e5e;
    --kivakit-medium-charcoal: #545454;
    --kivakit-dark-charcoal:   #484848;
    --kivakit-dark-gray:       #404040;
    --kivakit-very-dark-gray:  #363636;
    --kivakit-off-black:       #202020;

    /* Colors
    ----------------------------------*/

    --kivakit-aqua:                  #0096ff;
    --kivakit-light-aqua:            #00b6ff;
    --kivakit-tangerine:             #ff9300;
    --kivakit-cherry:                #ff2600;
    --kivakit-clover:                #008f00;
    --kivakit-lime:                  #8eFa00;
    --kivakit-blue-ridge-mountains:  #4981ce;


    --telenav-yellow:    #d8bc00;
    --telenav-black:     #1b1b1a;
    --telenav-gray:      #808080;
    --telenav-white:     #ffffff;
}

