**/.settings/
**/.classpath
**/.project
**/.idea/
**/target/
**/test-output/
**/*.iml
**/*.eml
**/*.ipr
**/*.iws
**/*.log
**/*.ids
**/.DS_Store
**/nbactions.xml
**/manifest.mf
**/nb-configuration.xml
**/Err.log
**/Err.log.*
/build/
