**/target/
**/tools/downloads/**
tools/applications/**
setup.properties
**/build.properties
**/.settings/
**/.classpath
**/.project
**/.idea/
**/*.iml
**/*.eml
**/*.ipr
**/*.iws
**/.includepath
**/*.log
**/*.ids
**/.DS_Store
**/*.class
**/*.hprof
**/dependency-reduced-pom.xml
**/venv/
/venv/**
