body {
  font-family: Avenir,Arial,Helvetica,sans-serif;
  background: #404040;
  color: #c0c0c0;
}

#visualization {
  overflow: auto;
}

.top {
    vertical-align: middle;
}

a {
    color: #0096ff;
}

.heading {
    font-family: Avenir,Open Sans,Arial,Helvetica,sans-serif;
    display: inline-block;
    white-space: nowrap;
    color: #0096ff;
    font-size: 62px;
    font-weight: 300;
    vertical-align: bottom;
    letter-spacing: -2px;
}

textarea {
  width: 98%;
  height: 200px;
}

